* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #fffffe;
    font-family: 'Fredoka', sans-serif;
}

#container {
    width: 80%;
    height: auto;
    margin: 0 auto;
}

header {
    text-align: center;
}

h1 {
    padding-top: 30px;
    color: #e53170;
    font-size: 40px; 
}

p {
    padding: 40px 0;
    color: black;
    font-size: 16px; 
}

.col {
    border: 1px solid black;
    width: calc(100% / 3 - 16px);
    height: auto;
    background-color: #0f0e17;
    float: left;  
    box-shadow: 1px 1px 5px 1px black;
    margin: 8px;
}

img {
    width: 100px;
    height: 100px;
}

.information {
    width: 70%;
    height: auto;
    float: right;
    padding-left: 10px;
}

span.name {
    color: white;
    font-size: 18px;
    font-weight: bold;
    display: inline-block;
    padding-top: 10px;
}

span.work {
    font-weight: normal;
}

a {
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    font-weight: bold;
    color: #4dccf2;
    display: inline-block;
    padding-top: 10px;
}

div.second_row {
    margin-top: 50px;
}





